@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    max-width: 100vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition: 0.4s;
    color: hsl(60 20% 95%);
    font-weight: 700;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(357, 74%, 42%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

body,
main {
    background-color: hsl(0 3% 13%);
    color: hsl(60 20% 95%);
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: hsl(357 92% 46%);
}

h2 {
    font-size: 2.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    color: hsl(60 20% 95%);
}

h3 {
    font-size: 2.8rem;
    font-family: 'Roboto';
    font-weight: 400;
    color: hsl(60 20% 95%);
}

p {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: normal;
    color: hsl(60 20% 95%);
}
